.logo {
    background:#5a5a5a;
    height:231px;
    margin:56px 0 0 0;
    text-align:center;
}

.logo img {
    display: none;
}

.container {
    margin-top:50px;
}

.alerta {
    color:#721c24;
    display:block;
}